# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.env

# AWS
.aws/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Reports
reports/*.html
reports/*.json

# SBOM
*.spdx
*.cdx.json

# Secrets
.env
config.json
credentials.json
